<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Items.css" rel="stylesheet" />
   

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
   <div class="container">
       <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
         
           <img src="~/Photos/logo (1).png" />
       </div>
       <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
           @{Html.RenderPartial("_SearchText");}
       </div>
       <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
           @{Html.RenderPartial("_Cart");}
       </div>
   </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>